{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "extends": [
    "airbnb",
    "prettier",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "node_modules",
          "src"
        ]
      }
    },
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "max-len": [
      "error",
      {
        "code": 100
      }
    ],
    "prefer-promise-reject-errors": [
      "off"
    ],
    "indent": 0,
    "class-methods-use-this": 0,
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error",
          "info"
        ]
      }
    ],
    "react/destructuring-assignment": 0,
    "no-restricted-properties": 0,
    "no-duplicate-imports": 0,
    "react/no-array-index-key": 0,
    "react/require-default-props": 0,
    "react/sort-comp": 0,
    "react/jsx-indent": 0,
    "react/jsx-tag-spacing": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-props-no-spreading": 0,
    "react/jsx-indent-props": [
      "error",
      4
    ],
    "react/jsx-no-comment-textnodes": 0,
    "react/jsx-curly-brace-presence": 0,
    "react/prop-types": 0,
    "react/no-unused-prop-types": 0,
    "react/no-danger": 0,
    "react/default-props-match-prop-types": 0,
    "jsx-a11y/html-has-lang": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/anchor-has-content": 0,
    "jsx-a11y/iframe-has-title": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/no-interactive-element-to-noninteractive-role": 0,
    "jsx-a11y/interactive-supports-focus": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/mouse-events-have-key-events": 0,
    "flowtype/no-types-missing-file-annotation": 0,
    "jsx-a11y/no-noninteractive-element-to-interactive-role": 0,
    "import/no-webpack-loader-syntax": 0,
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "import/prefer-default-export": 0,
    "import/newline-after-import": [
      "error",
      {
        "count": 1
      }
    ],
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling"
        ],
        "newlines-between": "always"
      }
    ],
    "function-paren-newline": 0,
    "object-curly-newline": 0,
    "prefer-destructuring": 0,
    "no-return-assign": 0,
    "no-buffer-constructor": 0,
    "no-restricted-globals": 0,
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ]
  }
}
