$primary-padding: 0.8rem;
$secondary-padding: 1.2rem;
$ternary-padding: 1.6rem;

$primary-margin: 0.2rem;
$secondary-margin: 0.4rem;
$ternary-margin: 0.8rem;

$border-radius: 0.4rem;
$border-grey: #d3d3d3;
$border-width: 0.05rem;
